@using FaceProxy.Web.Models
@model User
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    string helloClass = null;
}

<div class="jumbotron">
    <h1>Face Proxy</h1>
    <p class="lead">Enter the URL of a publicly available image</p>
</div>

<form action="/face">
  <input type="text" name="url">
  <input type="submit">
</form>

